<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <main class="container-xxl vw-100 vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1>Álgebra II</h1>
        <p class="mb-5">Gestion</p>
        <div class="container-xxl">
            <div class="row gap-3 mb-3">
                <section class="col formulario-carga-csv bg-white-subtle p-5 rounded">
                    <h3 class="text-primary mb-5">Cargar archivo CSV</h3>
                    <form th:action="@{/gestion/procesar-csv}" method="post" enctype="multipart/form-data">
                        <div class="form-floating mb-2">
                            <input type="file" class="form-control" name="file" id="file" placeholder="Selecciona el archivo">
                            <label for="file">File</label>
                        </div>
                        <p th:if="${error}" th:text="${error}" class="text-danger fw-bold"></p>
                        <button type="submit" class="btn btn-primary mt-3">ACEPTAR</button>
                    </form>
                    <p th:if="${success}" th:text="${success}" class="text-success fw-bold mt-3 fs-4"></p>
                </section>
                <section class="col datos-csv bg-white-subtle p-5 rounded">
                    <div class="contenido-csv">
                        <h3 class="text-primary mb-4">Listado de alumnos actual</h3>
                        <p th:if="${notfound}" th:text="${notfound}"></p>
                        <div style="max-height: 400px; overflow: auto;">
                            <table class="table" th:if="${estudiantes}">
                                <thead>
                                    <tr>
                                    <th scope="col">LU</th>
                                    <th scope="col">APELLIDO</th>
                                    <th scope="col">NOMBRES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="estudiante : ${estudiantes}">
                                        <th scope="row" th:text="${estudiante.legajo}"></th>
                                        <td th:text="${estudiante.apellido}"></td>
                                        <td th:text="${estudiante.nombres}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col registro-asistencia bg-white-subtle p-5 rounded">
                    <h3 class="text-primary">Registro de asistencia</h3>
                    <a th:href="@{/gestion/registro-asistencia}" class="btn btn-primary mb-3">Solicitar registro de hoy</a>
                    <div style="max-height: 400px; overflow: auto;">
                        <table class="table" th:if="${registroAsistencia}" style="max-height: 400px; overflow: auto;">
                            <thead>
                                <tr>
                                <th scope="col">LU</th>
                                <th scope="col">APELLIDO</th>
                                <th scope="col">NOMBRES</th>
                                <th scope="col">FECHA</th>
                                <th scope="col">ASISTENCIA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="registro : ${registroAsistencia}">
                                    <th scope="row" th:text="${registro.persona.legajo}"></th>
                                    <td th:text="${registro.persona.apellido}"></td>
                                    <td th:text="${registro.persona.nombres}"></td>
                                    <td th:text="${#dates.format(registro.fecha, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td th:text="${registro.asistio}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>
</html>